<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CalculatorTestSuite">
    <listeners>
        <listener class-name="org.example.calculator.ConsoleLoggerListener"/>
    </listeners>

    <test name="CalculatorTests">
        <classes>
            <class name="org.example.calculator.CalculatorTest"/>
        </classes>
    </test>
</suite>